<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : *{GetUserRes}">
                <td th:int="*{user.userId}"></td>
                <td th:text="*{user.username}"></td>
                <td th:text="*{user.nickname}"></td>
                <td th:text="*{user.email}"></td>
                <td th:text="*{user.password}"></td>
                <td th:text="*{user.phoneNum}"></td>
                <td th:int="*{user.point}"></td>
                <td th:text="*{user.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>