<!DOCTYPE html>
<head>
    <title>
        home
    </title>
<body>
    <div class="container">
    <h1>machine learning</h1>
    <h2>image upload</h2>
    {% if filename %}
        <div>
            <img src="{{filename}}">
        </div>
        <div>
            <p>{{id}} {{name}}</p>
        </div>
    {% endif %}
    <form method="post" action="/predict" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>
    </div>
</body>
</head>